.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hand{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
}
.lhand{
  width: 170px;
  transform: rotate(90deg);
}
.rhand{
  width: 170px;
  transform: rotate(-90deg);
}
.symbol{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 22px;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
}
.symbol:hover{
  transform: scale(1.2);
}
.symbol-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.points{
  width: 500px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.symbol-btn{
  border: none;
}